*{
    border: none;
    color: black;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1{
    color: #f4ce14;
    font-family: 'Markazi Text', sans-serif;
    font-size: 64px;
    font-weight: normal;
    line-height: 0.5;
}

h2{
    color: white;
    font-family: 'Markazi Text', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

h3, label, input, select, .Button, .Header{
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

p, .Footer li, .Footer a{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

ul{
    list-style: none;
}

button, .Button{
    border-radius: 15px;
    background-color: #f4ce14;
    height: 55px;
    width: auto;
}

button:hover{
    background-color: lightgray;
}

button>h3{
    margin: 0 25px 0 25px;
}

nav.Header>ul{
    align-items: center;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    gap:2em;
    margin: 0 20vw 0 20vw;
}

.Header li{
    align-items: center;
    display: flex;
    height: 100px;
}

nav.Header>ul.sidebar{
    display:none;
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width:250px;
    z-index: 999;
    box-shadow: 10px 0 10px rgba(0,0,0,0.1);
}

nav.Header>ul.sidebar{
    align-items: flex-start;
    background-color: white;
    flex-direction: column;
    justify-content:start;
    margin: 0;
    padding: 2em 0 0 2em;
}

ul.sidebar>li{
    height: 60px;
}

nav.Header .mobileShow{
    display: none;
}

nav.Footer{
    align-items: flex-start;
    background-color: #495e57;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
    padding: 50px 20vw 50px 20vw;
}

.Footer>section{
    flex: 1;
    min-width: 150px;
    padding: 2em 0 2em 0;
}

.Footer img{
    background-color: white;
    border-radius: 15px;
    padding: 1em;
    max-width: 80%;
}

.Footer h3{
    color: #f4ce14;
}

.Footer li, .Footer a{
    color:white;
}

.CallToAction{
    background-color: #495e57;
    display:flex;
    flex-wrap: wrap;
    gap: 2em;
    height: 320px;
    justify-content: space-between;
    padding: 2em 20vw 0 20vw;
    margin: 0 0 110px 0;
}

.CallToAction>article{
    flex: 1;
    height: 100%;
}

.CallToAction p{
    color:white;
}

.CallToAction button{
    margin: 10% 0 0 0;
}

.imageContainer{
    display: flex;
    justify-content: flex-end;
}

.CallToAction img{
    border-radius: 15px;
    height: 120%;
    width: 80%;
    object-fit: cover;
}

.Card{
    background-color: #d1d1d1;
    border-radius: 10px;
    display: grid;
    grid-gap: 0.8em;
    grid-template-rows: 180px 25px 80px 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'image image'
    'name price'
    'description description'
    'order order';
    height: auto;
    width: 320px;
}

.Card>img{
    border-radius: 10px;
    grid-area: image;
    object-fit: cover;
    height: 100%;
    width: 100%
}

.Card>h3{
    grid-area: name;
    margin-left: 1em;
}

.Card>h4{
    grid-area: price;
    justify-self: flex-end;
    margin-right: 1em;

    color: #ee9972;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.Card>p{
    color: #495e57;
    grid-area: description;
    margin: 0 1em 0 1em;
}

.Card>div{
    align-items: center;
    display: flex;
    gap: 0.2em;
    grid-area: order;
    margin-left: 1em;
    height: 100%;
    width: 100%;
}

.CardImage{
    width: 100%;
    height:100%;
}

.Specials{
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-items: center;
    padding: 0 20vw 15vh 20vw;

}

.Specials h1{
    color:black;
}

.Specials>div{
    display: flex;
    gap: 2em;
    align-items:center;
    justify-content: space-between;
    width: 100%;
}

.Cards{
    flex-wrap: wrap;
    
}

.Rating{
    display: flex;
    gap: 1%;
    width:80%;

    align-self: flex-end;
    align-items: center;
    justify-items: center;
}

.Rating div{
    flex:1;
}

.Star{
    width: 80%;
    object-fit: cover;
}

.Testimonial{
    display: grid;
    grid-template-rows: 30px 100px 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'title stars'
    'picture name'
    'review review';
    grid-gap: 5px;

    align-items: center;
    background-color: #EFEFEF;
    border-radius: 10px;
    justify-items: center;
    padding: 15px;
    width:300px;

}

.Testimonial>h3{
    grid-area:title;
}

.Testimonial>.Rating{
    grid-area:stars;
}

.Testimonial>img{
    border-radius: 50px;
    grid-area:picture;
    height: 100%
}

.Testimonial>.TestimonialName{
    grid-area:name;
}

.Testimonial>p{
    grid-area:review;
}

.TestimonialsSection{
    background-color: #fbdabb;
    padding: 10vh 20vw 10vh 20vw;

}

.TestimonialsSection>.Container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 550px;
    justify-content: center;
    
}

.TestimonialsSection h1{
    color: black;
}

.Testimonials{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
    justify-items: center;
    width: 100%;
}

.AboutUs{
    padding: 10vh 20vw 10vh 20vw;
    width: 60%;
}

.AboutUs>.Container{
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    gap:90px;
    justify-content: space-between;
    justify-items: center;
    
}

.AboutUs>.Container>*{
    flex: 1;
    height: 550px
}

.AboutUs article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 250px;
}

.AboutUs h1, .AboutUs h2{
    color: black;
}

.Owners{
    display: grid;
    height:70%;
    width: 70%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.Owners>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Owners>img:nth-of-type(1){
    grid-area: 1 / 4 / 5 / 8;
    object-position: right bottom;
    z-index: 1;
}

.Owners>img:nth-of-type(2){
    grid-area: 3 / 1 / 8 / 5;
    object-position: right top;
}

form{
    padding: 75px 20vw 75px 20vw;
    display: flex;
    flex-direction: column;
    width: 100%;
}

form>h1{
    color: black;

}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 2em 0 2em 0;
    width: 250px;
}

input, select{
    border-radius: 10px;
    background-color: #edefee;
    color: #494949;
    height: 50px;
    padding: 0.5em;
    margin: 0 0 1em 0;
}

form>.Button{
    width: 250px;
}


@media(max-width: 768px){
    h1{
        font-size: 48px;
    }
    h2{
        font-size: 30px;
    }
    h3, .Header{
        font-size: 16px;
    }
    p, .Footer li, .Footer a{
        font-size: 14px;
    }
    nav.Header .mobileShow{
        align-items: center;
        display: flex;
    }

    nav.Header>ul{
        margin: 1em;
    }

    nav.Header li{
        height: 50px;
    }
    nav.Header .mobileHide{
        display:none;
    }

    nav.Footer, .CallToAction, .Specials, .TestimonialsSection, .AboutUs, form{
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .display{
        padding: 2em 1em 0 1em;
    }

    section>.imageContainer{
        display:none;
    }

    .Owners>img:nth-of-type(1){
        display: none;
    }
    .Owners>img:nth-of-type(2){
        grid-area: 1 / 1 / 8 / 8;
        object-position: center bottom;

    }
}